### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
### .NET / WPF ###
# Build results
[Bb]in/
[Oo]bj/

# .NET Core
*.runtimeconfig.json
*.runtimeconfig.dev.json

# User-specific files
*.user
*.userosscache
*.sln.docstates

# VS IDE
.vs/
*.suo
*.tlog
*.tlog.*

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio
.localhistory/

# Test Results
*.trx
TestResults/

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

# Publish output
publish/

# Log files
*.log
AutoClicker.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Profiling
*.profiler
*.sap

# MSBuild
*.targets

# Diagnostic
*.diagsession
